<!DOCTYPE html>
<html>
<head>
  <title>Keyword Histogram</title>
</head>
<body>
  <h1>Enter a keyword:</h1>
  <form method="post">
    <input type="text" name="keyword">
    <input type="submit" value="Submit">
  </form>
  {% if plot_url %}
    <h2>Histogram:</h2>
    <img src="data:image/png;base64,{{ plot_url }}" alt="Histogram">
  {% endif %}
  {% if topgood %}
  <h2>Top words for positive tweets:</h2>
  <ul>
    {% for word in topgood %}
      <li>{{ word }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% if topbad %}
  <h2>Top words for negative tweets:</h2>
  <ul>
    {% for word in topbad %}
      <li>{{ word }}</li>
    {% endfor %}
  </ul>
{% endif %}
</body>
</html>
